//colors
//--------------------------------------
$color-primary: #1ba4ce;
$color-secondary: #473452;
$color-main-backgrounds: #30383b;
// font sizes
//---------------------------------------
$primary-font-size: 16px;
$secondary-font-size: 15px;
$section-headers-size: 42px;
$main-header-font-size: 50px;
$box-titles-font-size: 22px;

//Box shadow on boxes in Procedures and Blog sections: 0 5px 20px #f0f0f0;
