body, html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.btn-primary {
  width: auto;
  background: linear-gradient(to right, #F6C04A, #f5bb3b);
  border-radius: 10px;
  border: 3px solid #ebe3fd;
  color: #746B6B;
  font-weight: 700;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

html, body {
  overflow-x: hidden;
}

.header {
  background: linear-gradient(to right, #9d75f7, #c88271);
  font-family: "Montserrat", sans-serif;
  height: 750px;
}
@media only screen and (max-width: 600px) {
  .header {
    overflow-x: hidden;
  }
}
.header__menu img {
  width: 10%;
  margin-top: 5%;
  margin-left: 7%;
}
@media only screen and (max-width: 600px) {
  .header__menu img {
    width: 40%;
    margin-top: 13%;
  }
}
@media only screen and (min-width: 600px) {
  .header__menu img {
    width: 20%;
    margin-left: 5%;
  }
}
@media only screen and (min-width: 768px) {
  .header__menu img {
    width: 20%;
    margin-left: 6%;
  }
}
@media only screen and (min-width: 992px) {
  .header__menu img {
    width: 15%;
  }
}
@media only screen and (min-width: 1200px) {
  .header__menu img {
    width: 13%;
    margin-top: 4%;
    margin-left: 10%;
  }
}
.header__menu__ul {
  display: inline;
  margin-left: 15%;
  color: white;
}
@media only screen and (max-width: 600px) {
  .header__menu__ul {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .header__menu__ul {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .header__menu__ul {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .header__menu__ul {
    display: inline;
    margin-left: -20px;
  }
}
@media only screen and (min-width: 1200px) {
  .header__menu__ul {
    margin-left: 10%;
  }
}
.header__menu__ul__li {
  list-style-type: none;
  display: inline;
  margin-left: 5%;
}
.header__menu__ul__li--btn {
  width: 10%;
  margin-left: 10%;
  position: relative;
  z-index: 1;
}
.header__menu__ul__li--btn:hover::after {
  opacity: 1;
  transform: scale(1.2);
  transition-delay: 20ms;
  transition-timing-function: ease-in-out;
}
.header__menu__ul__li--btn::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  border: inherit;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #e8a30c;
  opacity: 0;
  z-index: -1;
}
.header__content {
  display: grid;
  grid-template-columns: auto auto;
}
.header__content__image .window {
  margin-top: 27%;
  position: relative;
  -webkit-animation-name: move-left;
          animation-name: move-left;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-timing-function: cubic-bezier(0, 1.28, 0.88, 0.54);
          animation-timing-function: cubic-bezier(0, 1.28, 0.88, 0.54);
}
@media only screen and (max-width: 600px) {
  .header__content__image .window {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .header__content__image .window {
    width: 300px;
    margin-right: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .header__content__image .window {
    width: 300px;
    margin-right: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .header__content__image .window {
    width: 400px;
    margin-right: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  .header__content__image .window {
    margin-top: 27%;
  }
}
.header__content__image .window__image {
  width: 125%;
  position: absolute;
  display: block;
  bottom: 0;
  left: -20%;
  -webkit-animation-name: move-left;
          animation-name: move-left;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-timing-function: cubic-bezier(0, 1.28, 0.88, 0.54);
          animation-timing-function: cubic-bezier(0, 1.28, 0.88, 0.54);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: infinite;
          animation-direction: infinite;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.header__content__text h1 {
  width: 100%;
  font-size: 70px;
  margin-left: 20%;
  margin-top: 12%;
  font-weight: 700;
  color: white;
}
@media only screen and (max-width: 600px) {
  .header__content__text h1 {
    width: 200px;
    font-size: 55px;
    margin: auto;
    margin-top: 70px;
    text-align: left;
    margin-left: 50px;
  }
}
@media only screen and (min-width: 600px) {
  .header__content__text h1 {
    font-size: 50px;
    margin-top: 90px;
  }
}
@media only screen and (min-width: 768px) {
  .header__content__text h1 {
    font-size: 51px;
  }
}
@media only screen and (min-width: 1200px) {
  .header__content__text h1 {
    width: 100%;
    font-size: 70px;
    margin-left: 20%;
    margin-top: 12%;
    font-weight: 700;
  }
}
.header__content__text h1 .text1 {
  display: block;
  -webkit-animation-name: move-up;
          animation-name: move-up;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.header__content__text h1 .text2 {
  display: block;
  -webkit-animation-name: move-up;
          animation-name: move-up;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.header__content__text h1 .text3 {
  display: block;
  -webkit-animation-name: move-up;
          animation-name: move-up;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.header__content__text h1 .changed {
  color: #F6C04A;
}
.header__content__text p {
  width: 40%;
  font-size: 17px;
  margin-left: 20%;
  margin-top: 2%;
  font-weight: 300;
  color: white;
}
@media only screen and (max-width: 600px) {
  .header__content__text p {
    font-size: 17px;
    margin-left: 15%;
    width: 80%;
    margin-top: 20%;
  }
}
@media only screen and (min-width: 600px) {
  .header__content__text p {
    margin-top: 10%;
    width: 70%;
  }
}
@media only screen and (min-width: 768px) {
  .header__content__text p {
    width: 71%;
  }
}
@media only screen and (min-width: 1200px) {
  .header__content__text p {
    width: 50%;
    font-size: 17px;
    margin-left: 20%;
    margin-top: 2%;
  }
}
.header .explore {
  margin-top: -10%;
  width: 5%;
  margin-left: 20%;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 600px) {
  .header .explore {
    width: 20%;
    margin: auto;
    margin-top: 10%;
  }
}
@media only screen and (min-width: 600px) {
  .header .explore {
    margin-top: -20%;
    width: 10%;
  }
}
@media only screen and (min-width: 768px) {
  .header .explore {
    margin-top: -190px;
  }
}
@media only screen and (min-width: 1200px) {
  .header .explore {
    margin-top: -200px;
    margin-left: 18%;
  }
}
.header .explore:hover::after {
  opacity: 1;
  transform: scale(1.2);
  transition-delay: 20ms;
  transition-timing-function: ease-in-out;
}
.header .explore::after {
  content: "";
  border-radius: inherit;
  background-color: #e8a30c;
  opacity: 0;
  scale: 1;
  border: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition-duration: 100ms;
}

@-webkit-keyframes move-left {
  from {
    transform: translatex(100px);
  }
  to {
    transform: translatex(0px);
  }
}

@keyframes move-left {
  from {
    transform: translatex(100px);
  }
  to {
    transform: translatex(0px);
  }
}
@-webkit-keyframes move-up {
  0% {
    transform: scale(0);
    transform-origin: left;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes move-up {
  0% {
    transform: scale(0);
    transform-origin: left;
  }
  100% {
    transform: scale(1);
  }
}
.window {
  background: linear-gradient(to right, #dacbfc, #ae8df8);
  border: 20px solid #ebe3fd;
  width: 400px;
  height: 500px;
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: -32px 43px 49px #b89bf9;
}

.box {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  border: 3px solid #ebe3fd;
}
.box-primary {
  background: linear-gradient(to right, #966BF6, #8c5df5);
}
.box-secondary {
  background: linear-gradient(to right, #F6C04A, #f5bb3b);
}

.sponsor {
  background: linear-gradient(to right, white, #ebe3fd);
}
.sponsor__logo img {
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
}

.program {
  font-family: "Montserrat", sans-serif;
  padding-top: 100px;
}
.program__title {
  display: flex;
  align-items: center;
}
.program__title__box {
  margin-left: 100px;
  width: 50px;
}
@media only screen and (max-width: 600px) {
  .program__title__box {
    margin-left: 30px;
  }
}
.program__title__box img {
  width: 40px;
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 5px;
  top: 5px;
}
@media only screen and (max-width: 600px) {
  .program__title__box img {
    text-align: center;
    left: 2px;
    right: 2px;
    bottom: 2px;
    top: 2px;
  }
}
.program__title__text {
  margin-left: 20px;
  color: #966BF6;
}
.program__title__text h2 {
  font-weight: 700;
  font-size: 33px;
}
@media only screen and (max-width: 600px) {
  .program__title__text h2 {
    text-align: center;
    font-size: 25px;
  }
}
@media only screen and (min-width: 768px) {
  .program__title {
    justify-content: center;
  }
}
@media only screen and (min-width: 1200px) {
  .program__title {
    justify-content: left;
  }
}
.program__list {
  height: 300px;
  border: 20px solid #ebe3fd;
  border-radius: 90px;
  margin: auto;
  margin-top: 50px;
  color: white;
  display: grid;
}
@media only screen and (max-width: 600px) {
  .program__list {
    margin-top: 100px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto;
  }
}
@media only screen and (min-width: 600px) {
  .program__list {
    grid-template-columns: auto auto;
    width: auto;
    height: auto;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .program__list {
    grid-template-columns: auto auto auto auto;
    width: 90%;
  }
}
.program__list__element {
  margin-left: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
  width: 70%;
  text-align: center;
}
.program__list__element:hover {
  background: linear-gradient(to right, #F6C04A, #f5bb3b);
  padding-top: 50px;
  margin-top: -100px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  color: #746B6B;
}
.program__list__element__image {
  margin: auto;
}
.program__list__element__image img {
  position: absolute;
  left: 0;
  width: 50px;
}
.program__list__element__content h4 {
  font-weight: 700;
}

.value {
  background-color: rgb(243, 241, 241);
  padding-top: 200px;
  padding-bottom: 150px;
  font-family: "Montserrat", sans-serif;
  display: grid;
}
@media only screen and (max-width: 600px) {
  .value {
    grid-template-columns: auto;
  }
}
@media only screen and (min-width: 600px) {
  .value {
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 1200px) {
  .value {
    grid-template-columns: auto auto;
  }
}
.value__second {
  display: grid;
}
@media only screen and (max-width: 600px) {
  .value__second {
    grid-template-columns: auto;
    margin-left: 0;
  }
}
@media only screen and (min-width: 600px) {
  .value__second {
    grid-template-columns: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .value__second {
    grid-template-columns: auto auto;
  }
}
.value__second__title {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin-top: -200px;
  margin-bottom: 290px;
  margin-left: -250px;
}
@media only screen and (max-width: 600px) {
  .value__second__title {
    margin-top: 20%;
  }
}
@media only screen and (min-width: 600px) {
  .value__second__title {
    margin-bottom: 360px;
  }
}
.value__second__title__box {
  margin-left: 100px;
  width: 50px;
  text-align: left;
}
@media only screen and (max-width: 600px) {
  .value__second__title__box {
    margin-left: 300px;
    margin-top: -100px;
  }
}
.value__second__title__box img {
  width: 40px;
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 5px;
  top: 5px;
}
.value__second__title__text {
  margin-top: 70px;
  margin-left: 20px;
  color: #966BF6;
}
@media only screen and (max-width: 600px) {
  .value__second__title__text {
    margin-left: 20px;
    width: 100%;
  }
}
.value__second__title__text h2 {
  font-weight: 700;
  font-size: 33px;
}
@media only screen and (max-width: 600px) {
  .value__second__title__text h2 {
    width: 70%;
    font-size: 25px;
  }
}
.value__second__title__text p {
  color: #A8A0BE;
  font-size: 22px;
  width: 500px;
  margin-left: -70px;
}
@media only screen and (max-width: 600px) {
  .value__second__title__text p {
    width: 90%;
    font-size: 17px;
    margin-top: 100px;
  }
}
.value__second__element {
  margin-top: -300px;
  margin-left: -700px;
  display: grid;
  grid-area: right;
}
@media only screen and (max-width: 600px) {
  .value__second__element {
    margin-top: -200px;
    margin-left: -340px;
    grid-template-columns: auto;
    row-gap: 50px;
  }
}
@media only screen and (min-width: 600px) {
  .value__second__element {
    grid-template-columns: auto;
    row-gap: 50px;
    margin-left: -300px;
  }
}
@media only screen and (min-width: 768px) {
  .value__second__element {
    margin-left: -330px;
  }
}
@media only screen and (min-width: 992px) {
  .value__second__element {
    margin-left: -400px;
  }
}
@media only screen and (min-width: 1200px) {
  .value__second__element {
    grid-template-columns: auto auto;
    margin-left: -700px;
  }
}
.value__second__element__part {
  background-color: #F8F1FC;
  width: 300px;
  height: 240px;
  border-color: white;
  border-radius: 40px;
  position: relative;
}
.value__second__element__part__box {
  position: relative;
  top: -20px;
  left: 20px;
}
.value__second__element__part__box img {
  position: absolute;
  width: 35px;
  left: 7px;
  top: 5px;
  right: 5px;
}
.value__second__element__part__content {
  margin-top: 20px;
  margin-left: 20px;
}
.value__second__element__part__content h1 {
  color: #966BF6;
}
.value__second__element__part__content p {
  color: #8c82a9;
}
.value__second__element__part--change {
  background-color: #FAF8FE;
}
.value .window {
  margin-left: 100px;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 600px) {
  .value .window {
    margin-left: 3%;
    width: 85%;
  }
}
@media only screen and (min-width: 600px) {
  .value .window {
    margin-left: 20%;
    width: 120%;
    margin-top: 100px;
  }
}
@media only screen and (min-width: 768px) {
  .value .window {
    width: 270px;
    margin-left: 20%;
  }
}
@media only screen and (min-width: 992px) {
  .value .window {
    width: 350px;
    margin-left: 20%;
  }
}
.value .window img {
  width: 500px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}
@media only screen and (max-width: 600px) {
  .value .window img {
    width: 150%;
  }
}
@media only screen and (min-width: 600px) {
  .value .window img {
    width: 190%;
    left: -70px;
  }
}
@media only screen and (min-width: 768px) {
  .value .window img {
    width: 450px;
    left: -60px;
  }
}
@media only screen and (min-width: 992px) {
  .value .window img {
    width: 500px;
    margin-left: 20px;
  }
}

footer {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 70px;
}
footer h5 {
  color: #966BF6;
  text-align: center;
}

.footer {
  margin: auto;
  margin-left: 200px;
  padding-top: 50px;
  padding-bottom: 40px;
  display: grid;
}
@media only screen and (max-width: 600px) {
  .footer {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-left: 0;
  }
}
@media only screen and (min-width: 600px) {
  .footer {
    grid-template-columns: auto auto;
    margin-left: 150px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer {
    grid-template-columns: auto auto auto auto;
  }
}
.footer__element__title h2 {
  color: #966BF6;
}
.footer__element__title img {
  margin-top: 15px;
  width: 120px;
}
.footer__element__content {
  width: 200px;
  font-size: 17px;
}
.footer__element__content p {
  color: #A8A0BE;
}
.footer__element__content ul {
  color: #A8A0BE;
}
.footer__element__content ul li {
  list-style-type: none;
  margin-left: -40px;
  margin-bottom: 15px;
}
.footer__line {
  background-color: #966BF6;
  width: auto;
  height: 1px;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .footer__line {
    width: auto;
  }
}/*# sourceMappingURL=main.css.map */